body {
  max-width: 1920px;
  align-items: center;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

header {
  position: relative;
  background-image: url("https://i0.wp.com/naga.it/wp-content/uploads/2020/10/AdobeStock_lavagna_275969992-ktgB-1020x533@IlSole24Ore-Web.jpeg?fit=1020%2C533&ssl=1");
  background-repeat: no-repeat;
  background-size: cover;
  border: solid;
  border-width: 2px;
  border-color: black;
  margin: 0px;
  height: 300px;
}

header nav {
  display: flex;
  position: relative;
}

#menu {
  display: none;
}

#menu div {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 5px 0px;
}

@media (max-width: 500px) {
  #links {
    display: none;
  }

  #menu {
    display: block;
    margin-left: auto;
    margin-right: 10px;
  }
}

header nav #logo {
  width: 10%;
  margin: 10px;
}

@media (max-width: 500px) {
  header nav #logo {
    width: 20%;
  }
}

header nav #logo img,
header nav #links {
  width: 100%;
}

header nav a,
header h1 {
  color: lavender;
}

header nav a {
  padding: 10px;
  text-transform: uppercase;
}

header nav a:hover {
  color: yellow;
}

header h1 {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#content {
  background-color: whitesmoke;
}

.box-row {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.box-row h1,
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.box-row a {
  text-decoration: none;
  color: black;
}

.box-row p {
  margin-top: 16px;
  margin-bottom: 16px;
}

.box-row .box-content {
  position: relative;
  display: flex;
}

.box-row .box-content a:hover {
  color: blue;
}

@media (max-width: 1024px) {
  .box-row,
  .box-content {
    display: flex;
    flex-direction: column;
  }
}

.box-row .box-text-img {
  width: 100%;
}

.box-text-img .text {
  width: 100%;
  height: 20%;
}

.box-text-img .image {
  width: 100%;
  height: 70%;
}

.box-text-img .image img {
  width: 100%;
  height: 100%;
}

footer {
  position: relative;
  height: 200px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 20px;
  background-color: rgba(23, 82, 23, 0.87);
  text-align: left;
  font-size: 1.2em;
}

footer ul {
  margin: 20px;
}

footer a {
  color: lavender;
  text-decoration: none;
  line-height: 25px;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
}

footer a:hover {
  color: blue;
}

footer p {
  margin: 10px;
  font-weight: bolder;
  color: lavender;
  font-weight: bolder;
  font-style: italic;
}
