#overlay {
    background-color:
      rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

header {
    position: relative;
    background-image: url("https://i0.wp.com/naga.it/wp-content/uploads/2020/10/AdobeStock_lavagna_275969992-ktgB-1020x533@IlSole24Ore-Web.jpeg?fit=1020%2C533&ssl=1");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20%;
    margin: 0px;
    border: solid;
    border-width: 2px;
    border-color: black;
}

header nav {
    display: flex;
    position: relative;
}

header nav #logo {
    width: 10%;
    margin: 10px;
}

header nav #logo img{
    width: 100%;
}

header nav #navbar {
    width: 100%;
}

header nav a {
    padding: 10px;
    text-transform: uppercase;
    float: right;
    color: lavender;
}

.box-row {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: whitesmoke;
}

.box-row h1,h2 {
    text-transform: uppercase;
}

.box-row .box-content {
    margin: 0;
    display: flex;
}

@media (max-width: 1024px) {
    .box-row, .box-content {
        display: flex;
        flex-direction: column;   
    }
}

.box-row .box-text-img {
    width: 100%;
    border-style: solid;
    border-width: 0px;
}

.box-text-img .text {
    width: 100%;
    height: 20%;
}

.box-text-img .image {
    width: 100%;
    height: 70%;
}

.box-text-img .image img{
    width: 100%;
    height: 100%;
}

footer {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
    background-color: rgba(23, 82, 23, 0.87);
    text-align: left;
}

footer a {
    color: lavender;
    text-decoration: none;
}

footer p {
    margin: 10px;
    font-weight: bolder;
    font-size: 20px;
    color: lavender;
}