#overlay {
    background-color:
      rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

header {
    padding: 4vw;
    border-style: solid;
    border-width: 0.5vw;
    background-image: url("https://i0.wp.com/naga.it/wp-content/uploads/2020/10/AdobeStock_lavagna_275969992-ktgB-1020x533@IlSole24Ore-Web.jpeg?fit=1020%2C533&ssl=1");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#logo img {
    color: whitesmoke;
    width: 10%;
}

header nav a {
    position: relative;
    display: block;
    width: 6em;
    padding: 0.2em;
    margin-right: 0vw;
    text-align: left;
    color: whitesmoke;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.8em;
}

#all-paragraphs {
    margin: 10px;
}

.box {
    display: flex;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 2px;
}

.box .image {
    position: relative;
    top: 2px;
}

.box .text {
    padding: 5vw;
    text-align: justify;
    color: black;
    font-size: 20px;
}

.box h1 {
    text-align: left;
    
}

footer {
    background-color: whitesmoke;
    text-align: center;
    font-style: normal;
    border-style: solid;
    border-radius: 20px;
}

footer .links {
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

