#overlay {
    background-color:
      rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

header {
    padding: 4vw;
    border-style: solid;
    border-width: 0.5vw;
    background-image: url("https://i0.wp.com/naga.it/wp-content/uploads/2020/10/AdobeStock_lavagna_275969992-ktgB-1020x533@IlSole24Ore-Web.jpeg?fit=1020%2C533&ssl=1");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#logo img{
    width: 10%;
    position: relative;
}

header nav a {
    position: relative;
    display: block;
    width: 6em;
    padding: 0.2em;
    margin-right: 0vw;
    text-align: left;
    color: whitesmoke;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.8em;
}

#all-paragraphs {
    margin: 10px;
}

.box {
    position: relative;
    display: flex;
    padding: 2px;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 2px;
}

.box a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.box-even {
    flex-direction: row-reverse;
}

.box .image {
    position: relative;
    top: 2px;
}

@media (max-width: 1024px) {
    .box, .image{
        display: flex;
        flex-direction: column;   
    }
}

.box:hover {
    background-color: rgba(221, 217, 217, 0.925);
    top: 0;
    left: 0;
}

.box .text {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: auto;
    align-content: flex-start;
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 100%;
}

@media (max-width: 1024px) {
    .box .text{
        width: 100%;
        padding: 0%;
        text-align: center;
    }
}

footer {
    background-color: whitesmoke;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
}

footer .links {
    margin-bottom: 20px;
}

footer .links a {
    color: brown;
    font-weight: bolder;
    text-decoration: none;
}

